<footer class="copyright">
    <div class="container">
        <div class="links">
            <ul class="list-inline">
                <li>友情链接：</li>
                <li><a href="http://www.moa.gov.cn/" target="_blank">中华人民共和国农业部</a></li>
                <li><a href="http://www.caaa.cn/association/sheep/index.php" target="_blank">中国羊业网</a></li>
                <li><a href="http://www.chinafeeddata.org.cn" target="_blank">中国饲料数据库</a></li>
                <li><a href="http://www.caaa.org.cn/" target="_blank">中国畜牧业协会</a></li>
                <li><a href="http://www.sdau.edu.cn/" target="_blank">山东农业大学</a></li>

            </ul>
        </div>
        <div class="row rights">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                Copyright © 2015 北京蝉翼科技有限公司 京ICP备15036251号-1
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <ul class="list-inline pull-right">
                    <li><a href="~/Shepherd/Index">牧羊人</a></li>
                    <li><a href="~/Assist/Index">产品服务</a></li>
                    <li><a href="https://qiye.aliyun.com" target="_blank">企业邮箱</a></li>
                    <li><a href="~/Tools/VPN" target="_blank">跨平台翻墙</a></li>
                    <li>
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1256588726'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256588726%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                        <script>var _hmt = _hmt || []; (function () { var hm = document.createElement("script"); hm.src = "//hm.baidu.com/hm.js?759bfa283fd3f56d8c95a272cd05ab2a"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })();</script>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>