@{
    ViewBag.Title = "“牧羊人”现代羊场管理系统-北京蝉翼科技有限公司";
    ViewBag.Keywords = "牧羊人,羊场管理,羊场管理软件,牧羊人羊场管理系统,羊场数据统计分析,羊场库存管理";
    ViewBag.Description = "牧羊人羊场管理系统是北京蝉翼科技有限公司与山东农业大学基于我国畜牧业发展现状联合研发的一款专业化的现代信息化羊场管理系统,系统致力于改善传统羊场管理方式,通过信息化手段规范羊场管理生产流程,提升管理工作效率";
}
@section head{
    <link rel="stylesheet/less" type="text/css" href="~/Content/Shepherd/index.less">
}

<div class="banner">
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 slogan">
        <h1><small>牧羊人现代羊场管理系统</small><br />高效，便捷<br />实用，安全，稳定</h1>
        <p><a class="btn btn-primary btn-auto" href="~/Price/Index" role="button">马上开始体验</a></p>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 bg-banner"></div>
</div>

<div class="features">
    <div class="col-lg-5ths col-md-5ths feature-1">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <h4>种羊鉴定</h4>
            </div>
        </div>
        <div>
            <small>创造性地提出了一整套对现代羊场种羊进行科学性鉴定的完整体系</small>
        </div>
        <div class="explain">
            <p>基于山东省现代农业产业技术体系羊产业创新团队首席专家王建民教授多年研究成果而研发。让羊场管理中最为重要的种羊鉴定工作变得有据可依，对种羊鉴定发挥了指导性的作用。该系统能够客观如实的反应出种羊鉴定结果，有效地优化羊场羊只种群结构。</p>
        </div>
    </div>
    <div class="col-lg-5ths col-md-5ths feature-2">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <h4>疾病辅助诊断</h4>
            </div>
        </div>
        <div>
            <small>羊只常见疾病的辅助诊断并提供建议治疗方式，提供常见疾病的科学化防治手段</small>
        </div>
        <div class="explain">
            <p>可以有效的降低羊场羊只患病概率，对患病的羊只提供早期辅助诊断。实现疾病的早防御、早发现、早治疗，可大幅降低羊场在疾病防治方面的成本，提高羊场经济效益。</p>
        </div>
    </div>
    <div class="col-lg-5ths col-md-5ths feature-3">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <h4>系谱结构查询</h4>
            </div>
        </div>
        <div>
            <small>对羊只系谱结构的系统化、结构化的汇总展示</small>
        </div>
        <div class="explain">
            <p>以图表的形式准确直观的展现出羊只种群直系五代的系谱结构。后续将陆续推出大规模羊场羊只旁系查询和半同胞系谱查询，这项首创成果将打破此领域市场上的空白，在优化大规模羊场羊只种群结构方面有着巨大的潜力和作用。</p>
        </div>
    </div>
    <div class="col-lg-5ths col-md-5ths feature-4">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <h4>饲喂配方设计</h4>
            </div>
        </div>
        <div>
            <small>终结了羊只饲喂配方设计的手工计算时代</small>
        </div>
        <div class="explain">
            <p>自动准确的进行营养指标的核算并与配方营养标准进行比对，实时显示各项营养成分与营养标准指标差值。该系统把配方设计人员从繁杂的计算工作中解放出来，让其更加专注于科学的配方设计。</p>
        </div>
    </div>
    <div class="col-lg-5ths col-md-5ths feature-5">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <h4>辅助配种管理</h4>
            </div>
        </div>
        <div>
            <small>实现了羊场配种计划的自动化，自动检索出羊只五代直系和三代旁系之外的待配种羊</small>
        </div>
        <div class="explain">
            <p>自动检索出羊只五代直系和三代旁系之外的待配种羊，准确有效的避免了羊只的近亲交配，可以方便的辅助羊场制定科学合理的配种计划，从根源上有效的优化羊只的种群结构。</p>
        </div>
    </div>
</div>

<div class="structure">
    <div class="container functions">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div><img src="~/Images/Shepherd/function5.png" class="img-responsive" /></div>
                <h4>
                    统计报表<br /><br />
                    <small>对羊场生产数据进行合理的汇总与分析，以最直观的方式精准有效的展示在您面前</small>
                </h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div><img src="~/Images/Shepherd/function2.png" class="img-responsive" /></div>
                <h4>
                    羊群结构监测<br /><br />
                    <small>以图表的形式直观明了的展现当前羊场群体结构，让您最快的了解羊群情况</small>
                </h4>
            </div>
            <div class="clearfix visible-sm-block"></div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div><img src="~/Images/Shepherd/function1.png" class="img-responsive" /></div>
                <h4>
                    疾病辅助诊断<br /><br />
                    <small>快速帮您判定羊只疾病，提供科学治疗方式使羊只快速恢复健康减少损失</small>
                </h4>
            </div>
            <div class="clearfix visible-lg-block visible-md-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div><img src="~/Images/Shepherd/function3.png" class="img-responsive" /></div>
                <h4>
                    羊只系谱图<br /><br />
                    <small>一键查询羊只的系谱结构，以最直观的方式展示给您</small>
                </h4>
            </div>
            <div class="clearfix visible-sm-block"></div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div><img src="~/Images/Shepherd/function4.png" class="img-responsive" /></div>
                <h4>
                    配方设计<br /><br />
                    <small>从繁琐的手动设计配方中解脱出来，轻点鼠标瞬间完成</small>
                </h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div><img src="~/Images/Shepherd/function6.png" class="img-responsive" /></div>
                <h4>
                    基本信息录入<br /><br />
                    <small>一次录入全部信息方便快捷</small>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="specialty">
    <h3 class="h3 text-center">简单、好用、安全、稳定</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left media-middle">
                        <span class="glyphicon glyphicon-hand-right"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">简单的操作</h4>
                        <p>极其的简单的点击操作，轻松点击完成各类资料录入与查询</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left media-middle">
                        <span class="glyphicon glyphicon-bell"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">方便快捷通知</h4>
                        <p>及时、快捷、方便的消息提醒，时刻提醒您处理羊场事务</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-shield"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">保护数据安全</h4>
                        <p>完善的数据存储策略，充分保障数据的安全性，免除您的后顾之忧</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left media-middle">
                        <span class="glyphicon glyphicon-export"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">数据导出</h4>
                        <p>简单几步操作，轻松导出数据</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recommend">
    <div class="container">
        <h2>
            从现在开始，体验牧羊人<br />
            <small>是时候考虑牧场转型了，下载牧羊人，开启牧场数字化时代！</small>
        </h2>
        <p><a href="~/Price/Index" class="btn btn-success btn-lg btn-exp">开启牧场数字化</a></p>
    </div>
</div>