@{
    ViewBag.Title = "免费试用牧羊人-定制数字化牧场-北京蝉翼科技有限公司";
    ViewBag.Keywords = "免费羊场管理软件,羊场管理软件免费下载,购买羊场管理软件,羊场管理软件免费试用,羊场管理软件报价,定制羊场管理软件";
    ViewBag.Description = "提供牧羊人现代羊场管理系统免费下载,试用体验,展示牧羊人不同版本区别和报价,提供定制化羊场管理软件";
}

@section head{
    <script src="//cdn.bootcss.com/messenger/1.4.0/js/messenger.min.js"></script>
    <script src="//cdn.bootcss.com/messenger/1.4.0/js/messenger-theme-future.js"></script>
    <link href="//cdn.bootcss.com/messenger/1.4.0/css/messenger.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/messenger/1.4.0/css/messenger-theme-future.css" rel="stylesheet">

    <link rel="stylesheet/less" type="text/css" href="~/Content/Price/index.less">
    <script src="~/Scripts/Price/index.js"></script>
}
<div class="banner">

    <div class="maintitle">
        <div class="col-lg-5 col-md-5 slogan">
            <h1>牧羊人羊场管理系统<br /><small>开启数字化、精细化养殖时代</small></h1>
            <div class="min-price">
                <div>￥<span class="price">4999</span><br /><small>单机版</small></div>
                <div>￥<span class="price">12999</span><br /><small>联机版</small></div>
            </div>
            <br />
            <p>
                <a href="~/Price/Tryout" target="_blank" class="btn btn-success btn-auto">马上下载，免费体验数字化养殖乐趣</a>
            </p>
        </div>
        <div class="col-lg-7 col-md-7 bg-banner"></div>
    </div>

    <div class="subtitle">
        <div class="container">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                <i class="fa fa-pie-chart"></i>
                <p>动态掌握羊群结构</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                <i class="fa fa-balance-scale"></i>
                <p>精准把握饲料用量</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                <i class="fa fa-stethoscope"></i>
                <p>快速诊断羊只疾病</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                <i class="fa fa-venus-mars"></i>
                <p>科学育种繁殖</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                <i class="fa fa-clock-o"></i>
                <p>每日事务提醒</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                <i class="fa fa-bar-chart"></i>
                <p>全面细致数据报表</p>
            </div>
        </div>
    </div>
</div>

<div class="price">
    <div class="container">
        <table class="table table-responsive table-bordered table-hover table-striped text-center">
            <caption><span class="label label-danger label-title">单机版</span></caption>
            <thead>
                <tr>
                    <th class="bg-info">主要功能模块</th>
                    <th class="bg-danger">精简版</th>
                    <th class="bg-warning">标准版</th>
                    <th class="bg-success">高级版</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>基本资料</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>羊群结构</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>日常管理</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>繁殖管理</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>系谱结构</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>疾病防疫</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>人事管理</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>合作商管理</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>报表管理</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>投入品管理（仓管）</td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>财务管理</td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>疾病辅助诊断</td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>配方设计</td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>羊只测评</td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>推荐羊场(存栏量)</td>
                    <td>500及以下</td>
                    <td>500-2000</td>
                    <td>2000及以上</td>
                </tr>
                <tr class="info">
                    <td>价格</td>
                    <th>￥4999</th>
                    <th>￥6999</th>
                    <th>￥8999</th>
                </tr>
                <tr>
                    <td>购买</td>
                    <td><a href="#contact" class="btn btn-success btn-buy">立即购买</a></td>
                    <td><a href="#contact" class="btn btn-success btn-buy">立即购买</a></td>
                    <td><a href="#contact" class="btn btn-success btn-buy">立即购买</a></td>
                </tr>
            </tfoot>
        </table>
        <table class="table table-responsive table-bordered table-hover table-striped text-center">
            <caption><span class="label label-danger label-title">联机版</span></caption>
            <thead>
                <tr><th>主要功能模块</th><th>联机版（牧场≥2）</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-danger text-allfunction">高级版全部功能</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>分厂管理</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>权限管理</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>数据共享、汇总</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td>推荐牧场</td><td>需要同时管理两个及两个以上牧场，需要多个牧场之间共享生产数据</td></tr>
                <tr class="info">
                    <td>价格</td>
                    <th>12999（包含一台总机和两个分机）起，在此基础上每增加一台分机费用3000元</th>
                </tr>
                <tr>
                    <td>购买</td>
                    <td><a href="#contact" class="btn btn-success btn-buy">立即购买</a></td>
                </tr>
            </tfoot>
        </table>
        <table class="table table-responsive table-bordered table-hover table-striped text-center">
            <caption><span class="label label-danger label-title">定制版</span></caption>
            <thead>
                <tr><th>主要功能模块</th><th>定制版</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>选取单机版部分或全部功能</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td>选取联机版部分或全部功能</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td class="text-danger text-allfunction">新增自定义功能</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td>推荐牧场</td><td>要选取或组合单机版或联机版部分功能，要根据个性化需求新增自定义功能</td></tr>
                <tr class="info">
                    <td>价格</td>
                    <th>根据定制化方案商定</th>
                </tr>
                <tr>
                    <td>定制</td>
                    <td><a href="#contact" class="btn btn-success btn-custom">马上定制</a></td>
                </tr>
            </tfoot>
        </table>
        <div class="diffversion">
            <div><span class="label label-info label-title">版本说明</span></div>
            <dl class="dl-horizontal">
                <dt>单机版</dt>
                <dd>
                    单机版系统针对只有一个牧场或多个独立牧场的中小型客户而设计，系统贯穿了羊场几乎所有日常生产活动，科学准确的管理日常生产中的数据，可以极大的提升羊场管理的工作效率，大幅降低羊场生产运作成本，提升经济效益。
                </dd>
                <dt>联机版</dt>
                <dd>
                    联机版系统针对需要同时管理多个牧场并在多个牧场之间共享数据资源的中型或大型客户而设计。该系统在单机版本的基础上新增了分厂管理和安全的用户权限控制系统，保障较大规模牧场的数据安全。除此之外，该系统还提供了对羊场生产数据更加精细化的汇总和数据分析功能，真正让羊场进入数字化、精细化管理时代。
                </dd>
                <dt>定制版</dt>
                <dd>
                    定制版系统针对需要选取或组合单机版或联机版部分功能，根据个性化需求新增自定义功能的客户。该系统允许用户在单机版和联机版系统提供的一般羊场管理中的使用的大部分通用的功能之外，定制真正符合自己牧场实际生产的只属于自己的系统。
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="question">
    <div class="container">
        <p class="lead">常见购买问题</p>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <p class="ques-type">购买问题？</p>
                <dl>
                    <dt>如何购买？</dt>
                    <dd>点击每个版本介绍下方的立即购买或者拨打客服电话联系购买。</dd>
                    <dt>支付方式？</dt>
                    <dd>蝉翼科技提供银行转账和支付宝付款两种支付途径供您选择。</dd>
                    <dt>付款后多长时间进场安装？</dt>
                    <dd>付款以后我们的客服人员会在第一时间与您进行确认，然后在您确保方便的时间内安装工程师上门安装。</dd>
                    <dt>是否提供发票？</dt>
                    <dd>在与您签订购买合同的时候，我们的商务人员会与您确认是否需要发票，如需要我们会在您支付完全部尾款的7个工作日内为您开具正规机打发票。</dd>
                    <dt>是否提供试用版?</dt>
                    <dd> 牧羊人现代羊场管理系统提供7天的免费试用期，在此期间您可以尽情的使用本系统，试用版本可在网站直接下载。 </dd>
                    <dt>需要其他帮助怎么办？</dt>
                    <dd>请致电1709-0099-602/170-9040-6342，QQ：987948336，与我们联络。</dd>
                </dl>
            </div>
            <div class=" col-lg-6 col-md-6">
                <p class="ques-type">其他问题？</p>
                <dl>
                    <dt>单机版适合于多人操作么？</dt>
                    <dd>单机版也可以多人操作，但是我们建议单人操作。</dd>
                    <dt>购买以后升级的费用是多少？</dt>
                    <dd>在您购买我们的产品以后，如遇升级您可以以一个最优惠的价格获得我们最新的升级版本。</dd>
                    <dt>牧羊人羊场管理系统的使用周期是多久？</dt>
                    <dd>牧羊人羊场管理系统是一次购买终生使用的，如您选择不升级就不会产生其余附加费用的。 </dd>
                </dl>
            </div>
        </div>

    </div>
</div>

<div class="service">
    <div class="container">
        <p class="lead text-info text-title">技术支持服务说明</p>
        <p class="text-service">
            您在使用牧羊人羊场管理系统的过程中，如果遇到了问题或者有不清楚的操作以及一些建议，您既可以通过系统内置的信息反馈系统直接反馈给我们，也可以通过发送电子邮件、拨打客服电话等方式与我们取得联系，我们提供7*24小时不间断贴心服务。
            <ul class="text-info">
                <li>牧羊人现代羊场管理系统的安装、操作以及故障排除。</li>
                <li>牧羊人现代羊场管理系统的使用介绍。</li>
                <li>牧羊人现代羊场管理系统的升级服务。</li>
                <li>牧羊人现代羊场管理系统的数据备份。</li>
            </ul>
        </p>
    </div>
</div>

<div class="contact" id="contact">
    <div class="ad"></div>
    <div class="container">
        <p class="text-info text-hasquestion"><strong>仍有问题？ 告诉我们</strong></p>
        <div class="row">
            <address class="col-lg-3 col-md-3 col-sm-3">
                <span class="glyphicon glyphicon-phone-alt"></span>
                <small>销售咨询</small>
                <strong class="tel">170-9009-9602</strong>
            </address>
            <address class="col-lg-6 col-md-6 col-sm-6">
                <span class="glyphicon glyphicon-envelope"></span>
                <small>公司邮箱</small>
                <strong class="tel"><a href="mailto:chanyi@chanyikeji.com">chanyi@chanyikeji.com</a></strong>
            </address>
            <address class="col-lg-3 col-md-3 col-sm-3">
                <span class="glyphicon glyphicon-wrench"></span>
                <small>技术支持</small>
                <strong class="tel">170-9040-6342</strong>
            </address>
        </div>
    </div>
</div>
