<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chanyi.Shepherd.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="productName" value="Shepherd" />
    <!--下拉列表默认文本-->
    <!--表单页-->
    <add key="formDefaultSelection" value="--请选择--" />
    <!--列表页-->
    <add key="listDefaultSelection" value="全部" />
    <!--疾病辅助诊断默认文本-->
    <add key="defaultDiseaseDesc" value="请选择疾病以查看疾病详情" />
    <!--通知消息格式-->
    <add key="deliveryNotification" value="{0}号羊近期可能进行分娩" />
    <add key="ablactationNotification" value="{0}号羊近期可以进行断奶" />
    <add key="feedNotification" value="{0}[{1}-{2})]库存不足需要补充" />
    <add key="medicineNotification" value="{0}[{1}]库存不足需要补充" />
    <add key="loaddingNotification" value="通知消息正在加载……" />
    <add key="defaultNotification" value="暂无提醒消息" />
    <!--密码盐-->
    <add key="pwdsaltprefix" value="n!^3Xm&amp;.'? " />
    <add key="pwdsaltsuffix" value=")qHPBg72y." />
    <!--列表页默认页尺寸-->
    <add key="pageSize" value="15" />
    <!--技术支持网站域名-->
    <add key="supportHost" value="chanyikeji.com" />
    <!--产品说明文档URL-->
    <add key="instructionUrl" value="http://www.chanyikeji.com/shepherd/downloaddocument?version=1.0.0.1" />
    <!--技术支持邮箱-->
    <add key="supportEmail" value="shepherd@chanyikeji.com" />
    <add key="supportEmailCredential" value="chanyikeji@170220" />
    <add key="smtpHost" value="smtp.mxhichina.com" />
    <add key="smtpPort" value="25" />
    <!--新增功能在线说明URL-->
    <add key="newsURL" value="http://www.chanyikeji.com/shepherd/index" />
    <!--产品更新-->
    <add key="ftpHost" value="chanyikeji.com" />
    <add key="ftpUid" value="shepherd" />
    <add key="ftpPwd" value="shepherd" />
    <add key="updatePath" value="Shepherd/" />
    <add key="supportExtentsion" value=".exe|.msi" />
    <!--羊只最长分娩记录-->
    <!--<add key="longestDeliveryDays" value="150" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--系统默认用户、员工-->
    <add key="defaultUser" value="admin" />
    <add key="defaultEmployee" value="系統默认用户" />
    <!--羊场名称简称-->
    <add key="farmAbb" value="S" />
    <!--配种季节 春季 秋季-->
    <add key="Spring" value="1-15,5-15" />
    <add key="Autumn" value="7-15,11-15" />
    <!--投入品的名称与种类-->
    <!--名称category-->
    <add key="feedNameCategory" value="FeedName" />
    <add key="medicineNameCategory" value="MedicineName" />
    <!--字典类型category-->
    <add key="feedTypeCategory" value="FeedTypeName" />
    <add key="medicineTypeCategory" value="MedicineTypeName" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="Config/Log4Net.xml" />
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
    </parsers>
    <context>
      <resource uri="file://~/Config/AdoDao.xml" />
      <resource uri="file://~/Config/Service.xml" />
    </context>
  </spring>
  <databaseSettings>
    <add key="db.connectionString" value="Server=chanyikeji.com;Port=5432;User Id=postgres;Password=chanyikeji@170220postgres;Database=db_shepherd_dev;" />
    <!--发布版-->
    <!--<add key="db.connectionString" value="Server=127.0.0.1;Port=5432;User Id=postgres;Password=shepherd&amp;postgres;Database=db_shepherd;" />-->
  </databaseSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.40000" newVersion="2.0.1.40000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.40000" newVersion="2.0.1.40000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Chanyi.Shepherd.WPF.Properties.Settings>
      <setting name="SerialNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SkipVersion" serializeAs="String">
        <value />
      </setting>
    </Chanyi.Shepherd.WPF.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IQueryService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://123.57.225.228:10008/Chanyi.Product.Services/QueryService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IQueryService" contract="ProductService.IQueryService" name="NetTcpBinding_IQueryService" />
    </client>
  </system.serviceModel>
</configuration>