<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chanyi.Utility" version="1.0.4" targetFramework="net40" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net40" />
  <package id="Spring.Aop" version="2.0.1" targetFramework="net40" />
  <package id="Spring.Core" version="2.0.1" targetFramework="net40" />
  <package id="Spring.Data" version="2.0.1" targetFramework="net40" />
</packages>