@{
    ViewBag.Title = "一站式互联网平台建设方案提供商-北京蝉翼科技有限公司";
    ViewBag.Keywords = "蝉翼,蝉翼科技,北京蝉翼科技,北京蝉翼科技有限公司,互联网平台建设方案,软件硬件开发";
    ViewBag.Description = "北京蝉翼科技有限公司是一家以互联网软件技术与物联网技术为依托，集软件硬件研发、生产、实施、服务为一体的高新企业,公司提供互联网平台建设解决方案,软件硬件研发与外包服务";
}
@section head{
    <link rel="stylesheet/less" type="text/css" href="~/Content/Home/index.less">
}

<div class="banner">
    <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 slogan">
        <h1><small>蝉翼科技、精致卓越</small><br />一站式企业信息化解决方案提供商<br /></h1>
        <p><a href="~/Price/Index" class="btn btn-success btn-auto">使用牧羊人，数字化您的牧场</a></p>
    </div>
    <div class="col-lg-7 col-md-7 bg-banner"></div>
</div>

<div class="culture">
    <div class="col-lg-4 col-md-4">
        <div class="row">
            <div class="culture-1">
                <div class="col-lg-7 col-md-9 col-sm-9 col-xs-9">
                    <h2>
                        创新<br /><br />
                        <small>打造思维创新为先导、经营创新为基础、技术创新为核心的创新发展体系。</small>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="row">
            <div class="culture-2">
                <div class="col-lg-7 col-md-9 col-sm-9 col-xs-9">
                    <h2>
                        超越<br /><br />
                        <small>始终保持“敢于超越”的勇气，不断提升产品质量，超越自我，化优秀为卓越。</small>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="row">
            <div class="culture-3">
                <div class="col-lg-7 col-md-9 col-sm-9 col-xs-9">
                    <h2>
                        品质<br /><br />
                        <small>秉承品质至上，精致卓越的原则，致力打造高品质的产品。</small>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="business">
    <div class="container">
        <h2>我们为您提供</h2>
        <p class="lead scope">
            完善的企业信息化解决方案。软硬件技术开发、咨询、服务、推广、技术转让、产品设计、基础软件服务、应用软件服务、计算机系统服务。
        </p>
    </div>
</div>

<div class="intro">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 intro-article">
        <article>
            <p>
                北京蝉翼科技有限公司是一家以互联网软件技术与物联网技术为依托，集软件硬件研发、生产、实施、服务为一体的高新企业。
            </p>
            <p>
                作为一家以高新技术和新兴产业为导向的现代企业，公司致力于软件产业与物联网产业的发展，提供企业级应用软件、硬件的整体解决方案。
            </p>
            <p>
                公司始终坚持以客户为中心，以高新技术为支撑的观念，用高度的敬业精神和专业的服务水准为客户提供完美的解决方案，用行动践行科技是第一生产力。
            </p>
            <p>
                目前公司与山东农业大学建立起深度合作关系，双方就推进畜牧业信息化建设方面取得显著成果。公司依照当前我国畜牧业发展现状研发了以“牧羊人现代羊场管系统”为代表的多项产品并获得国家多项软件著作权。该系统紧密贴合实际生产环境，以过硬的产品质量和优质的服务态度得到了广大养殖企业的认可，并在山东地区建立了示范基地，现已在全国全面推广。
            </p>
            <p>
                公司一直秉承科技创新为核心竞争力，在发展北京市场的同时积极开拓全国市场，为众多企业合作伙伴提供完善的企业信息化解决方案，优质、用心的服务赢得了众多企业的信赖和好评。
            </p>
            <p>
                随着“互联网+”的崛起，蝉翼科技必将以全新的姿态，迎接新的挑战，打造企业信息化建设金牌企业。
            </p>
        </article>
    </div>
</div>

<div class="figure">
    <div class="container">
        <div class="row">
            <section class="col-lg-4 col-md-4 col-sm-4">
                <div class="icon icon-1"><i class="fa fa-connectdevelop"></i></div>
                <h4 class="text-center heading-icon-1">高科技</h4>
                <small>蝉翼科技拥有业内领先的自主核心技术和可持续发展的设计研发能力。</small>
            </section>
            <section class="col-lg-4 col-md-4 col-sm-4">
                <div class="icon icon-2"><i class="fa fa-users"></i></div>
                <h4 class="text-center heading-icon-2">强素质</h4>
                <small>蝉翼科技注重人才团队建设，凝聚着一批高素质的管理人员和经验丰富的技术人员。</small>
            </section>
            <section class="col-lg-4 col-md-4 col-sm-4">
                <div class="icon icon-3"><i class="fa fa-trophy"></i></div>
                <h4 class="text-center heading-icon-3">优实力</h4>
                <small>蝉翼科技立足于信息技术服务领域，以市场为基础，以雄厚的技术实力为后盾，致力于加速推动中国企业网络化、信息化进程。</small>
            </section>
        </div>
        <section class="text-center">
            <h3>科技铸造实力，创新提升品质</h3>
            <p>我们的追求是在“互联网+”大潮下帮助客户实现梦想，并依靠点滴经验的积累，用心为客户提供优质完善的服务，满足您不同的需求。</p>
        </section>
    </div>
</div>
